$def with (nav, project_bulk_one, project_bulk_two, projects, categories)

<head>
    <title>Beelance2</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="static/stylesheet.css">
    <link rel="shortcut icon" type="image/png" href="static/honeybee.png"/>
</head>

<body>

    $:nav
    
    <h1>Welcome $session.username!</h1>

    $if session.username:
        <div id="dashboard">
            <h3>What would you like to do today?</h3>

            <div id="user_projects">
                <div class="user_projects_category" onclick="location.href='/?projects=my'">My Projects</div>
                <div class="user_projects_category" onclick="location.href='/?projects=customer'">Customer Projects</div>
                <div class="user_projects_category" onclick="location.href='/?projects=finished'">Finished Projects</div>
            </div>
        
            $if projects == 'my':
                <h3>Your open projects</h3>
            $elif projects == 'customer':
                <h3>Customer projects in progress</h3>
            $elif projects == 'finished':
                <h3>My finished projects</h3>

            <div class="projects">
                $for project in project_bulk_one:
                    <div class="project" onclick="location.href='/project?projectid=$project[0]'"><h4>Title:&emsp;&emsp;&emsp; $project[3]</h4><p>Description: $project[4]</p><p>Category: &emsp; $categories[project[1]-1][1]</p></div>
            </div>

            $if projects == 'my':
                <h3>Projects in  progress</h3>
            $elif projects == 'finished':
                <h3>Finished customer projects</h3>

            <div class="projects">
                $for project in project_bulk_two:
                    <div class="project" onclick="location.href='/project?projectid=$project[0]'"><h4>Title:&emsp;&emsp;&emsp; $project[3]</h4><p>Description: $project[4]</p><p>Category: &emsp; $categories[project[1]-1][1]</p></div>
            </div>
        </div>

    <img src="static/honeybee.png" alt="Honeybee">

</body>