$def with (nav, login_form, message)

<head>
    <title>Beelance2</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="static/stylesheet.css">
    <link rel="shortcut icon" type="image/png" href="static/honeybee.png"/>

</head>

<body>
    
    $:nav

    $if not session.username:
        <h3>Log In</h3>
        <form method="POST">
            $:login_form.render()
        </form> 

    $else:
        <h1>Logged in as $session.username</h1>
    
    <p>$:message</p>

    <img src="static/honeybee.png" alt="Honeybee">

</body>