$def with (nav, project_form, project_buttons, messasge)

<head>
    <title>Beelance2</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="static/stylesheet.css">
    <link rel="shortcut icon" type="image/png" href="static/honeybee.png"/>

</head>

<body>

    $:nav

    <h2>Add project!</h2>
    <form method="POST">
        <div>
            $:project_form.render()
        </div>

        <div id="project_buttons">
            <div>
                $:project_buttons.add_task.render()
                $:project_buttons.remove_task.render()
            </div>
            <div>
                $:project_buttons.add_user.render()
                $:project_buttons.remove_user.render()
            </div>
            <div>
                $:project_buttons.create_project.render()
            </div>
        </div>
    </form>

    <p>$messasge</p>
</body>

<footer></footer>
